//Valeurs à répetitions
$menu_green: #579c87
$menu_yellow: #fdcc46
$border_green: #a1c181

html, body, .navbar__title
    padding: 0px
    margin: 0px

.navbar
    background-color: $menu_green
    height: 85px
    display: flex
    justify-content: center
    align-items: center
    &__title
        color: $menu_yellow
        font-size: 30px
//Menus
.menu_wrapper
    margin-top: 15px
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    &__item
        margin: 10px

.menu_wrapper__item
    max-width: 135px
    min-height: 200px
    box-shadow: 1px 1px 5px 1px #b9c7c0

.item__content
    display: flex
    justify-content: center
    
    align-items: center
    flex-wrap: wrap
    &__title
        font-size: 20px
        max-width: 100px
        text-align: center
    &__menu
        margin: 0px

.fa-music
    position: relative
    top: 10px
    left: 47px
    width: 35px
    height: 35px
    font-size: 35px
    background: -webkit-linear-gradient(15deg, rgba(2,0,36,1) 0%, rgba(240,78,95,1) 0%, rgba(246,145,106,1) 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.note
    background-color: #fcdfdb

.note__title
    color: #3d1319

.note__menu
    color: #3d1319

.chic
    background-color: #fff5fe

.chic__title
    background: rgb(2,0,36)
    background: -webkit-linear-gradient(-40deg, rgba(2,0,36,1) 0%, rgba(227,138,18,1) 0%, rgba(142,90,255,1) 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.chic__menu
    color: #e38a12

.delice
    background-color: #f9f9f9

.delice__title
    background: rgb(2,0,36)
    background: -webkit-linear-gradient(-40deg, rgba(2,0,36,1) 0%, rgba(0,29,217,1) 0%, rgba(8,137,251,1) 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.delice__menu
    color: #0889fb

.palette
    background-color: #fdfffd

.palette__title
    background: rgb(2,0,36)
    background: linear-gradient(80deg, rgba(2,0,36,1) 0%, rgba(62,146,58,1) 0%, rgba(191,255,127,1) 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.palette__menu
    color: #72bf56

.button_soon
    margin: 5px 0px 10px 0px
    background-color: $menu_green
    color: $menu_yellow
    padding: 10px 25px 10px 25px
    border: none
    border-radius: 5px

.button_soon_wrapper
    text-align: center

footer
    height: 30px
    background-color: $menu_green
    display: flex
    align-items: center
    justify-content: space-between

.footer__link
    color: $menu_yellow
    font-size: 18px
    text-decoration: none
    padding: 0px 10px 0px 10px