//Valeurs à répetitions
$menu_green: #579c87
$menu_yellow: #fdcc46
$border_green: #a1c181

a
    text-decoration: none

html, body, .navbar__title
    padding: 0px
    margin: 0px

.navbar
    background-color: $menu_green
    height: 85px
    display: flex
    justify-content: center
    align-items: center
    &__title
        color: $menu_yellow
        font-size: 30px
//Menus
.menu_wrapper
    margin-top: 15px
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    &__item
        margin: 10px

.menu_wrapper__item
    max-width: 135px
    min-height: 200px
    box-shadow: 1px 1px 5px 1px #b9c7c0

.palette, .chic, .delice
    display: flex
    align-items: center

.item__content
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    &__title
        
        text-align: center
    &__menu
        margin: 0px

.fa-music
    position: relative
    top: 10px
    left: 47px
    width: 35px
    height: 35px
    font-size: 35px
    background: -webkit-linear-gradient(15deg, rgba(2,0,36,1) 0%, rgba(240,78,95,1) 0%, rgba(246,145,106,1) 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.note
    background-color: #fcdfdb
    &__title
        color: #3d1319
        font-size: 25px
        max-width: 110px
        margin-bottom: 5px
    &__menu
        color: #3d1319
        font-weight: bold
        font-size: 32px

.chic
    background-color: #fff5fe
    &__title
        background: rgb(2,0,36)
        background: -webkit-linear-gradient(-40deg, rgba(2,0,36,1) 0%, rgba(227,138,18,1) 0%, rgba(142,90,255,1) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    &__menu
        color: #e38a12
        font-size: 32px
    &__title
        font-size: 19px
        max-width: 130px

.delice
    background-color: #f9f9f9
    &__title
        background: rgb(2,0,36)
        background: -webkit-linear-gradient(-40deg, rgba(2,0,36,1) 0%, rgba(0,29,217,1) 0%, rgba(8,137,251,1) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    &__menu
        color: #0889fb
        font-size: 32px

.palette
    background-color: #fdfffd
    &__title
        background: rgb(2,0,36)
        background: linear-gradient(80deg, rgba(2,0,36,1) 0%, rgba(62,146,58,1) 0%, rgba(191,255,127,1) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    &__menu
        color: #72bf56
        font-size: 32px

.button_soon
    background-color: $menu_green
    color: $menu_yellow
    padding: 10px 25px 10px 25px
    border: none
    border-radius: 5px


.button_soon_wrapper 
    text-align: center
    margin: 20px 0px 25px 0px

footer
    position: sticky
    bottom: 0
    widht: 100%
    height: 30px
    background-color: $menu_green
    display: flex
    align-items: center
    justify-content: space-between

.footer__link
    color: $menu_yellow
    font-size: 18px
    padding: 0px 10px 0px 10px