a {
  text-decoration: none;
}

html, body, .navbar__title {
  padding: 0px;
  margin: 0px;
}

.navbar {
  background-color: #579c87;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__title {
  color: #fdcc46;
  font-size: 30px;
}

.menu-title {
  padding-top: 5px;
  margin: auto;
  font-size: 20px;
  font-family: Croissant;
  background: #020024;
  background: -webkit-linear-gradient(-40deg, #020024 0%, #e38a12 0%, #8e5aff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-container {
  margin: 20px auto 50px auto;
  padding-bottom: 50px;
  display: flex;
  background-color: #fff5fe;
  align-items: center;
  height: 440px;
  width: 300px;
  box-shadow: 1px 1px 5px 1px #b9c7c0;
  overflow: hidden;
}

.bracket_left, .bracket_right {
  width: 90px;
  height: 6px;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 440px;
  width: 300px;
  transform: scale(1);
}
.menu__upper-title {
  color: #c67412;
}
.menu__middle-title {
  color: #a56799;
}
.menu__lower-title {
  color: #6e4ccc;
}
.menu__upper-title, .menu .menu__middle-title, .menu .menu__lower-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 9px;
  width: 100%;
  font-family: Generic;
  font-weight: bold;
}
.menu__underline_hover:after {
  content: "";
  display: block;
  width: 0;
  height: 1.6px;
  background: -webkit-linear-gradient(-40deg, #020024 0%, #e38a12 0%, #8e5aff 100%);
  transition: width 0.2s;
}
.menu__underline_hover:hover::after {
  width: 100%;
}
.menu__listing {
  color: #e38a12;
  margin: auto;
  padding: 0px;
  font-size: 8px;
  list-style: none;
  font-family: Serif12;
}
.menu__listing__price {
  font-weight: bold;
}

.menu_middle_li {
  color: #a56799;
}

.menu_bottom_li {
  color: #6e4ccc;
}

.menu__listing__price {
  position: fixed;
  right: 0px;
  padding-right: 10px;
}

.menu_upper_li span {
  color: #c67412;
}

.menu_middle_li span {
  color: #a56799;
}

.menu:hover {
  transform: scale(1);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  height: 30px;
  background-color: #579c87;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__link {
  color: #fdcc46;
  font-size: 18px;
  padding: 0px 10px 0px 10px;
}
.footer__link:hover {
  animation: 0.4s wiggle;
}

@keyframes wiggle {
  0% {
    transform: skewY(5deg);
  }
  20% {
    transform: skewY(-5deg);
  }
  40% {
    transform: skewY(5deg);
  }
  60% {
    transform: skewY(-5deg);
  }
  80% {
    transform: skewY(5deg);
  }
  100% {
    transform: skewY(-5deg);
}
}

.menu-img {
  width: 280px;
  height: 396px;
  transform: scale(1);
}

.menu-img:hover {
  transform: scale(1);
}
  
footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin-top: 30px;
  height: 30px;
  background-color: #579c87;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.footer__link {
  color: #fdcc46;
  font-size: 18px;
  padding: 0px 10px 0px 10px;
}