//Valeurs à répetitions
$menu_green: #579c87
$menu_yellow: #fdcc46
$border_green: #a1c181

a
    text-decoration: none

html, body, .navbar__title
    padding: 0px
    margin: 0px

.navbar
    background-color: $menu_green
    height: 85px
    display: flex
    justify-content: center
    align-items: center
    &__title
        color: $menu_yellow
        font-size: 30px

.menu-title
    font-size: 20px
    text-align: center

.menu-container
    margin: auto
    width: 280px
    height: 396px
    display: flex
    box-shadow: 1px 1px 5px 1px #b9c7c0
    overflow: hidden

.menu-img
    width: 280px
    height: 396px
    transform: scale(1)

.menu-img:hover
    transform: scale(1.255)

footer
    margin-top: 30px
    height: 30px
    background-color: $menu_green
    display: flex
    align-items: center
    justify-content: space-between

.footer__link
    color: $menu_yellow
    font-size: 18px
    padding: 0px 10px 0px 10px